/* 600x360 slideshow */
#slideshow {
  position: relative;
  /*width: 500px;*/
  /*height: 25em;*/
  /*padding: 1em 3em;*/
  /*width: 560px;*/
  /*height: 320px;*/
  /*padding: 40px;*/
  /*width: 640px;*/
  width: 600px;
  height: 360px;
  padding: 0;
  margin: 10px auto;
}
#slideshow div {
  position: absolute;
  top: 0;
  padding: 0 40px;
  /*padding-right: 3em;*/
  /*width: 560px;*/
  width: 520px;
  height: 360px;
  background-color: #fed;
  border: 1px solid #fdd;
  border-radius         : 5px;
  -o-border-radius      : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  box-shadow         : 0px 1px 10px #888;
  -o-box-shadow      : 0px 1px 10px #888;
  -moz-box-shadow    : 0px 1px 10px #888;
  -webkit-box-shadow : 0px 1px 10px #888;
}
#slideshow h2 {
  text-align: center;
  color: brown;
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 2em 0 0 0;
  font-size: 1.2em;
}
#slideshow h2 + p {
  padding: 0;
  margin: 0;
}

/* main slides */
#slide1, #slide2 {
  font-size: 1.6em;
  /*padding-right: 1em;*/
}
#slideshow li {
  margin-top: 0.5em;
}

/* last slide */
#slideshow dl {
  margin-bottom: 1em;
}
#slideshow dt {
  font-weight: bold;
  /*margin-top: 1em;*/
  margin-top: 2em;
}
#slideshow dd {
  margin-top: 0.5em;
}
#slideshow dd a {
  font-weight: bold;
}
#slideshow a {
  color: brown !important;
}
#slideshow a:hover {
  color: red !important;
}

/* Learn more / Download / Restart */
#slideshow .menu {
  position: absolute;
  /*bottom: 0;*/
  /*right: 2em;*/
  /*font-size: 0.75em;*/
  bottom: 1em;
  /*right: 0;*/
  right: 40px;
  /*width: 100%;*/
  /*padding: 0 40px;*/
  /*width: 560px;*/
  width: 520px;
  text-align: center;
}
#slideshow #about {
  float: left;
}
#slideshow #restart {
  float: right;
  border-radius         : 5px;
  -o-border-radius      : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
}
