#timeline {
  position: relative;
  /* width: 698px; */
  width: 698px;
  height: 30px;
  margin: 5px auto;
  z-index: 10;
  /* border: 1px solid gray; */
  background-color: #555;
  border-radius         : 5px;
  -o-border-radius      : 5px;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
}
#timeline a {
  opacity: 0.5;
  display: block;
  float: left;
  margin-left: 1px;
  margin-top: 4px;
  height: 19px;
  /* border: 1px solid #fed; */
  text-decoration: none;
  color: #555;
}
#timeline button {
  border: none;
  background: none;
  width: 26px;
  text-align: center;
  display: none;
  padding: 0;
  margin: 0 auto;
}
#timeline div.pause button.pause,
#timeline div.play  button.play,
#timeline div.mute  button.mute,
#timeline div.sound button.sound {
  display: block;
}
#timeline a:hover {
  opacity: 1;
}
#timeline a span {
  display: none;
  font-size: smaller;
}
#timeline a:hover span {
  display: block;
  position: absolute;
  top: -16px;
}

/* controls and time cursor */
#mediaStart {
  position: absolute;
  top: 0;
  left: 4px;
  width: 32px;
  height: 30px;
  line-height: 30px;
}
#mediaTimeline {
  position: absolute;
  top: 1px;
  left: 40px;
  width: 610px;
  margin: 0;
  padding: 0;
}
#timeValue {
  position: absolute;
  line-height: 30px; /* to match #timeline height */
  top: 0;
  right: 6px;
  color: white;
}
#timeCursor {
  position: absolute;
  top: 0;
  left: 40px;
  height: 27px;
  border: 1px solid black;
}

/* hacks for IE<9, harmless for modern browsers */
#timeline a {
  filter: alpha(opacity=50);
}
#timeline a:hover {
  filter: alpha(opacity=100);
}
#timeline a:hover span {
  width: 12em;
}

