#slideshow {
  box-shadow         : 0px 1px 10px #422;
  -o-box-shadow      : 0px 1px 10px #422;
  -moz-box-shadow    : 0px 1px 10px #422;
  -webkit-box-shadow : 0px 1px 10px #422;
}
#slideshow, div.smil-toc {
  background-color: #732d2d;
}
.smil-controlBar {
  background-color: #522;
}
.smil-timeSegments a span {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}
.smil-timeSegments a:hover span, div.smil-toc ul a {
  color: white !important;
}
button,
.smil-controlBar button,
.smil-timeSegments a {
  background-color: #944;
  border-color: #722;
  color: white !important;
}
video, button:hover,
.smil-timeSlider,
.smil-controlBar button:hover,
.smil-timeSegments a:hover,
.smil-timeSegments a.current {
  background-color: #b66;
}
div.smil-toc li.current > a {
  color: orange !important;
}
