#slideshow {
  box-shadow         : 0px 1px 10px #224;
  -o-box-shadow      : 0px 1px 10px #224;
  -moz-box-shadow    : 0px 1px 10px #224;
  -webkit-box-shadow : 0px 1px 10px #224;
}
#slideshow, div.smil-toc {
  background-color: #dde;
}
.smil-controlBar, .smil-timeSegments a span {
  background-color: #336;
}
/* .smil-timeSegments a span {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
} */
.smil-timeSegments a:hover span, div.smil-toc ul a {
  color: #500 !important;
}
button,
.smil-controlBar button,
.smil-timeSegments a {
  background-color: #66a;
  border-color: #666;
  color: white !important;
}
video, button:hover,
.smil-timeSlider,
.smil-controlBar button:hover,
.smil-timeSegments a:hover,
.smil-timeSegments a.current {
  background-color: #99c;
}
div.smil-toc li.current > a {
  color: brown !important;
}
