#slideshow {
  box-shadow         : 0px 1px 10px #422;
  -o-box-shadow      : 0px 1px 10px #422;
  -moz-box-shadow    : 0px 1px 10px #422;
  -webkit-box-shadow : 0px 1px 10px #422;
}
#slideshow, div.smil-toc {
  background-color: white;
}
button {
  background-color: #999;
  border-color: #777;
  color: white;
}
video, .smil-timeSlider, button:hover {
  background-color: #bbb;
}
div.smil-toc li.current > a {
  color: brown !important;
}
div.smil-toc ul a {
  color: navy !important;
}
.smil-timeSegments a span {
  border-top-left-radius          : 8px;
  -o-border-top-left-radius       : 8px;
  -moz-border-radius-topleft      : 8px;
  -webkit-border-top-left-radius  : 8px;
  border-top-right-radius         : 8px;
  -o-border-top-right-radius      : 8px;
  -moz-border-radius-topright     : 8px;
  -webkit-border-top-right-radius : 8px;
  background-color: #555;
  margin-top: -8px;
  padding: 4px 0;
}
